The personal Information regarding Operating System are as follows:

Date and Time for this text file is {{ date }} {{ time }}

1- Cpu : {{ processor }}
2- Kernel : {{ kernel }}
3- Kernel Version : {{ kernel_version }}
4- Memory : {{ memory }}

